/* common-css start */
*{
    margin: 0px;
    padding: 0px;
}
ul,ol{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* common-css end */
/* ==========================
nb-part-start
================================== */
.nb-part{
    background: #686868;
}

/* =========================
navber-part-start
========================*/
.nav-part{
    background: #686868 !important;
}

.dropdown-menu{
    background: #686868;

}
.nav-link{
    display: flex;
    column-gap: 11px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #D6A033;
    position: relative;
}

.icon-box{
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .4s;
}

.nav-link:hover{
    color: #EFF4FA;
}
.nav-link:hover .icon-box{
 top: 80%;
 opacity: 1;
}

.dropdown-item{
    background: #686868;
    color: #EFF4FA;
}
.navbar-nav{
    column-gap: 35px;
}

.nav-btn{
    background: #D6A033;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    transition: .4s;
}
.nav-btn:hover{
    background: #fca800;
    color: #EFF4FA;
}

/* =========================
navber-part-end
========================*/


/* =========================
banner-part-start
========================*/
.nav-content{
    display: flex;
    column-gap: 140px;
}

.banner-part .left-part h1{
    font-size: 64px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    color: #F7D38A;
    padding-top: 208px;
}
.banner-part .left-part h2{
     font-size: 64px;
    font-weight: 800;
font-family: "Open Sans", sans-serif;
    color: #F5F2EB;
    padding-top: 16px;
    padding-bottom: 20px;
}
.banner-part .left-part p{
    font-size: 22px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    color: #BEBBB4;
    line-height: 36px;
    width: 500px;
    padding-bottom: 56px;
}
.banner-part .left-part .banner-btn{
    background: #D6A033;
    padding: 20px 40px;
    display: inline-block;
   font-size: 20px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    transition: .4s;
  margin-bottom: 128px;
}
.banner-part .left-part .banner-btn:hover{
    background: #fca800; 
    color: #EFF4FA;
}
.banner-part .banner-img-box{
    background: #C4C4C4;
    width: 380px;
    height: 320px;
margin-top: 266px;
}



/* =========================
banner-part-end
========================*/


/* ==========================
nb-part-end
================================== */
/*===========================
service-part-start 
==============================*/


.service-part{
    background: #FDFDFD;
}
.service-part .service-content{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-image-box{
    width: 750px;
    height: 528px;
    display: flex;
}
.service-image-box .s-left{
    width: 230px;
    height: 528px;
}
.service-image-box .s-left .s-img2{
    width: 210px;
    height: 160px;
    background: #C4C4C4;
}

.service-image-box .s-left .s-img3{
    width: 210px;
    height: 160px;
    background: #C4C4C4;
      margin-bottom: 24px;
      margin-top: 24px;
}

.service-image-box .s-left .s-img4{
    width: 210px;
    height: 160px;
    background: #C4C4C4;
}

.service-image-box .s-right{
    width:520px;
    height: 528px;
    background: #C4C4C4;
}

.service-image-box .s-right .s-img1{
      width:520px;
    height: 528px;
    background: #C4C4C4;
}

.service-part .service-content .service-text{
    padding-left: 62px;
}


.service-part .service-content .service-text h1{
font-size: 48px;
font-weight: 800;
font-family: "Open Sans", sans-serif;
color:#363024 ;
}
.service-part .service-content .service-text p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Paprika", system-ui;
    color: #524D43;
    width: 380px;
    padding-top: 20px;
    padding-bottom: 24px;
}
.service-part .service-content .service-text a{
    font-size: 20px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #F7F5F0;
    background:#D6A033;
    padding: 20px 40px;
    display: inline-block;
    transition: .4s;
}
.service-part .service-content .service-text a:hover{
    background: #fca800;
}
/*===========================
service-part-end 
==============================*/

/*===========================
menu-part-start 
==============================*/
.menu-part{
    background: #c4c4c43b;
}
.menu-part .menu-content{
padding-top: 100px;
padding-bottom: 100px;
}

.menu-part .menu-text h1{
font-size: 48px;
font-weight: 800;
font-family: "Open Sans", sans-serif;
line-height: 50px;
color: #363024;
text-align: center;
}

.menu-part .menu-text p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Paprika", system-ui;
    color: #524D43;
    line-height: 32px;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.menu-part .menu-content .menu-cards{
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
}

.menu-part .menu-content .menu-card{
    width: 100%;
}
.menu-part .menu-content .menu-card h1{
    font-size: 28px;
    font-weight: 700;
font-family: "Open Sans", sans-serif;
color: #363024;
line-height: 38px;
}

.menu-part .menu-content .menu-card h1 span{
    font-size: 28px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #D6A033;
    line-height: 38px;
    padding-left: 340px;
}

.menu-part .menu-content .menu-card p{
    font-size: 18px;
    font-weight:400;
    font-family: "Paprika", system-ui;
    color: #524D43;
    width: 270px;
}
.x1{
    padding-bottom: 12px;
}

/*===========================
menu-part-end 
==============================*/

/*===========================
chose-part-start 
==============================*/
.chose-part{
background: #fff;
}
.chose-part .chose-content{
    display: flex;
    padding-top: 100px;
    padding-bottom: 75px;
}

.chose-part .chose-content .left-text h1{
font-size: 48px;
font-weight: 800;
font-family: "Open Sans", sans-serif;
color: #363024;
padding-bottom: 36px;
}
.chose-part .chose-content .chose-card{
    width: 449px;
    display: flex;
}
.chose-part .chose-content .chose-card .card-img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.chose-part .chose-content .chose-card .card-img img{
    width: 100%;
    height: 100%;
}
.chose-part .chose-content .chose-card .card-text{
    margin-left: 24px;
}


.chose-part .chose-content .chose-card .card-text h4{
font-size: 28px;
font-weight: 700;
font-family: "Open Sans", sans-serif;
line-height: 38px;
padding-bottom: 8px;
}

.chose-part .chose-content .chose-card .card-text p{
    font-size: 18px;
font-weight: 400;
font-family: "Paprika", system-ui;
line-height: 32px;
width: 310px;
}
.k1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.chose-part .chose-content .right-part .box{
    width: 432px;
    height: 407px;
    border: 5px solid #D6A033;
    margin-left: 150px;
    position: relative;
}

.chose-part .chose-content .right-part .box .chose-img-1{
    width: 432px;
    height: 467px;
    background: #C4C4C4;
    position: absolute;
    top: 40px;
   right: 40px;
}

.chose-part .chose-content .right-part .box .chose-img-2{
    width: 190px;
    height: 194px;
    background: #C4C4C4;
    position: absolute;
    top: 238px;
    right: 375px;
    border: 4px solid #fff;
}
/*===========================
chose-part-end 
==============================*/

/*===========================
work-part-start 
==============================*/
.work-part{
    background: #181D21;
    padding-bottom: 290px;

    margin-bottom: 184px;
}

.work-part .work-text{
display: flex;
padding-top: 120px;
padding-bottom: 64px;
}
.work-part .work-text h1{
    font-size: 48px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #FBFBFA;
}
.work-part .work-text ul{
    display: flex;
    column-gap: 40px;
    align-items: center;
    padding-left: 80px;
}
.work-part .work-text ul li a{
    font-size: 24px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #FBFBFA;
    transition: .4s;
}

.work-part .work-text ul li a:hover{
    color: #D6A033;
}


.work-part .work-content{
    width: 1320px;
    display: flex;
    position: relative;
}

.work-part .work-card{
width: 410px;
height: 380px;
background: #C4C4C4;
position: absolute;
top: 0;
left: 0;
}

.work-part .work-card-2{
    width: 410px;
height: 380px;
background: #C4C4C4;
position: absolute;
top: 0;
left: 440px;
}

.work-part .work-card-3{
    width: 410px;
height: 380px;
background: #C4C4C4;
position: absolute;
top: 0;
left: 880px;
}
/*===========================
work-part-end 
==============================*/


